<div class="card">
  <div class="card-header text-white bg-info">{{pageTitle}}</div>
  <div class="card-body">
    <form novalidate (ngSubmit)="saveHotel()" [formGroup]="hotelForm">
      <div class="form-group row mb-2">
        <label for="hotelNameId" class="col-md-2 col-form-label"
          >Nom d'hotel:</label
        >
        <div class="col-md-8">
          <input
            id="hotelNameId"
            type="text"
            class="form-control"
            placeholder="Nom de l'hotel (Obligatoire)"
            formControlName="hotelName"
          />
        </div>
      </div>
      <div class="form-group row mb-2">
        <label for="hotelPriceId" class="col-md-2 col-form-label"
          >Prix d'hotel:</label
        >
        <div class="col-md-8">
          <input
            type="text"
            class="form-control"
            placeholder="Prix de l'hotel (Obligatoire)"
            id="hotelPriceId"
            formControlName="hotelPrice"
          />
        </div>
      </div>
      <div class="form-group row mb-2">
        <label for="hotelRatingId" class="col-md-2 col-form-label"
          >Evaluation d'hotel (1-5):</label
        >
        <div class="col-md-8">
          <input
            type="text"
            class="form-control"
            placeholder="Evaluation de l'hotel (1 à 5)"
            id="hotelRatingId"
            formControlName="starRating"
          />
        </div>
      </div>
      <div class="form-group row mb-2">
        <label for="hotelDescriptionId" class="col-md-2 col-form-label"
          >Description:</label
        >
        <div class="col-md-8">
          <textarea
            name=""
            id="hotelDescriptionId"
            cols="30"
            rows="10"
            class="form-control"
            formControlName="description"
          ></textarea>
        </div>
      </div>
      <div class="form-group row mb-2">
        <div class="offset-md-2 col-md-10">
          <button class="btn btn-info mr-3" type="submit">Sauvegarder</button>
          <button class="btn btn-outline-secondary mr-3" type="button" routerLink="/hotels">
            Annuler
          </button>
          <button class="btn btn-outline-danger" type="button">
            Supprimer
          </button>
        </div>
      </div>
    </form>
  </div>
</div>
<pre>
    {{hotelForm.value | json}}
</pre>