<div class="container">
  <h2 *ngIf="hotels && hotels.length >0">{{title | uppercase}}</h2>
  <button class="btn btn-primary mb-4 d-flex" (click)="toogleIsNewBadge()">
    <span class="material-icons">
      {{showBadge ? "visibility_off" : "visibility"}}
    </span>
    <span class="px-2"> {{showBadge ? "Cacher" : "Achicher"}} </span>
  </button>
  <hr />
  <div class="my-4">
    <div class="row">
      <div class="col-md-4">
        <span class="filter">Filtre actuel: </span>
        <b>{{hotelFilter}}</b>
      </div>
      <div class="col-md-8 form-group">
        <input
          type="text"
          name=""
          id=""
          class="form-group"
          [(ngModel)]="hotelFilter"
        />
        <!-- <input
          type="text"
          name=""
          id=""
          class="form-group"
          [ngModel]="hotelFilter"
          (ngModelChange)="hotelFilter = $event"
        /> -->
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col mb-4" *ngFor="let hotel of hotels">
      <div class="card" style="width: 18rem">
        <img
          class="card-img-top"
          [src]="hotel.imageUrl"
          [alt]="hotel.hotelName"
          [title]="hotel.hotelName"
        />
        <div class="card-body">
          <h5 class="card-title">{{ hotel.hotelName }}</h5>
          <p class="card-text">{{ hotel.description}}</p>
          <p class="cart-text">
            {{ hotel.price | currency : "EUR": "symbol": "1.2-2" : "fr" }}
          </p>
        </div>

        <button type="button" class="btn btn-primary" *ngIf="showBadge">
          Nouveau
        </button>
      </div>
    </div>
  </div>
</div>
